---
layout: default
---

{% assign data = site.data.info %}

<section class="container pv5 flex flex-column flex-row-ns bg-secondary">
    <div class="flex flex-column w-third-ns mr3">
        <div>
            <p class="lh-copy f4 fw7 mono ma0 pb4">Chemical Infrastructure Development&nbsp;Studies</p>
        </div>
        <div>
            <p class="lh-copy secondary ttu ma0 pb2">Επικοινωνια</p>
        </div>
        <div class="flex flex-row items-center pb2">
            <div class="bg-accent h1 w1 mr3"></div>
            <a class="link dim fw7" href="tel:{{ data.country-code }}{{ data.phone | remove: ' ' }}"><span class="o-60">{{ data.country-code }}</span> {{ data.phone }}</a>
        </div>
        <div class="flex flex-row items-center pb4">
            <div class="bg-accent h1 w1 mr3"></div>
            <a class="link dim fw7" href="mailto:{{ data.email }}">{{ data.email }}</a>
        </div>

        {% if data.hours %}
            <div class="ma0 pb4">
                <p class="lh-copy secondary ttu ma0">ωραριο</p>
                <p class="lh-copy ma0">{{ data.hours }}</p>
            </div>
        {% endif %}
        

        <div>
            <p class="lh-copy secondary ttu ma0">διευθυνση</p>
            <p class="lh-copy ma0 pb4">{{ data.company-address }}</p>
        </div>
    </div>

    <div class="flex flex-column w-two-thirds-ns">
        <div>
            <h1 class="brand ma0">Επικοινωνία</h1>
            <p class="ma0 pv4-l pv3 lh-copy">
                Η Chemical Infrastructure Development Studies ιδρύθηκε το 2019, έχοντας ως όραμα την παροχή ολοκληρωμένων συμβουλευτικών υπηρεσιών στις επιχειρήσεις, με στόχο τη διαρκή εκπλήρωση των αναγκών τους και την ενίσχυση της βιώσιμης ανάπτυξής τους.
            </p>
        </div>
        <form class="flex flex-column">
            <div class="mb3">
                <div class="flex flex-row items-center mr2 mb2">
                    <label for="name" class="db fw6 brand mr2">Όνομα *</label>
                    <div class="flex-auto bg-accent bar o-30"></div>
                </div>
                <input type="text" id="name" name="name" class="input-reset ba b--accent pa2 mb2 db w-100" required>
            </div>

            <div class="flex flex-column flex-row-ns gap3">
                <div class="mb3 w-50-ns">
                    <div class="flex flex-row items-center mr2 mb2">
                        <label for="_1" class="db fw6 brand mr2">Εταιρεία *</label>
                        <div class="flex-auto bg-accent bar o-30"></div>
                    </div>
                    <input type="text" id="_1" name="_1" class="input-reset ba b--accent pa2 mb2 db w-100" required>
                </div>
                <div class="mb3 w-50-ns">
                    <div class="flex flex-row items-center mr2 mb2">
                        <label for="_2" class="db fw6 brand mr2 nowrap">Θέση στην εταιρεία *</label>
                        <div class="flex-auto bg-accent bar o-30"></div>
                    </div>
                    <select id="_2" name="_2" class="input-reset ba b--accent pa2 mb2 db w-100 bg-white" required>
                        <option value="" disabled selected>Επιλέξτε θέση</option>
                        <option value="mechanic">Μελετητής/Μηχανικός</option>
                        <option value="supervisor">Τεχνικός Υπεύθυνος</option>
                        <option value="executive">Διοίκηση</option>
                        <option value="sales">Πωλήσεις</option>
                        <option value="other">Άλλη</option>
                    </select>
                </div>
            </div>

            <div class="flex flex-column flex-row-ns gap3">
            <div class="mb3 w-50-ns">
                <div class="flex flex-row items-center mr2 mb2">
                    <label for="_3" class="db fw6 brand mr2">Τηλέφωνο</label>
                    <div class="flex-auto bg-accent bar o-30"></div>
                </div>
                <input type="tel" id="_3" name="_3" class="input-reset ba b--accent pa2 mb2 db w-100" required>
            </div>
            <div class="mb3 w-50-ns">
                <div class="flex flex-row items-center mr2 mb2">
                    <label for="email" class="db fw6 brand mr2">Email *</label>
                    <div class="flex-auto bg-accent bar o-30"></div>
                </div>
                <input type="email" id="email" name="email" class="input-reset ba b--accent pa2 mb2 db w-100" required>
            </div>

            </div>
            <div class="mb3">
                <div class="flex flex-row items-center mr2 mb2">
                    <label for="message" class="db fw6 brand mr2">Μήνυμα *</label>
                    <div class="flex-auto bg-accent bar o-30"></div>
                </div>
                <textarea id="message" name="message" class="input-reset ba b--accent pa2 mb2 db w-100" required></textarea>
            </div>
            <button type="submit" class="mono br-pill bw0 pa3 dib white link pointer bg-dark-green hover-bg-dark-blue">ΑΠΟΣΤΟΛΗ</button>
        </form>
    </div>
</section>