---
layout: default
---

{% assign data = site.data.info %}

<section class="container pv5 flex flex-column flex-row-ns bg-secondary">
    <div class="flex flex-column w-third-ns mr3">
        <div>
            <p class="lh-copy f4 fw7 mono ma0 pb4">{{ data.company.name[page.lang] }}</p>
        </div>
        <div>
            <p class="lh-copy secondary ttu ma0 pb2">{{data.contact[page.lang]}}</p>
        </div>
        <div class="flex flex-row items-center pb2">
            <div class="bg-accent h1 w1 mr3"></div>
            <a class="link dim fw7" href="tel:{{ data.company.country-code }}{{ data.company.phone | remove: ' ' }}"><span class="o-60">{{ data.company.country-code }}</span> {{ data.company.phone }}</a>
        </div>
        <div class="flex flex-row items-center pb4">
            <div class="bg-accent h1 w1 mr3"></div>
            <a class="link dim fw7" href="mailto:{{ data.company.email }}">{{ data.company.email }}</a>
        </div>

        {% if data.hours %}
            <div class="ma0 pb4">
                <p class="lh-copy secondary ttu ma0">ωραριο</p>
                <p class="lh-copy ma0">{{ data.hours }}</p>
            </div>
        {% endif %}
        

        <div>
            <p class="lh-copy secondary ttu ma0">{{data.address[page.lang]}}</p>
            <p class="lh-copy ma0 pb4">{{ data.company.address[page.lang] }}</p>
        </div>
    </div>

    <div class="flex flex-column w-two-thirds-ns">
        <div>
            <h1 class="brand ma0">{{site.data.contact-form.title[page.lang]}}</h1>
            <p class="ma0 pv4-l pv3 lh-copy">
                {{site.data.contact-form.description[page.lang]}}
            </p>
        </div>
        <form class="flex flex-column">
            {% assign fields = site.data.contact-form.fields %}
            {% assign current_group = "" %}

            {% for field in fields %}
                {% if field.group != current_group %}
                    {% if current_group != "" %}
                        </div> <!-- Close previous group -->
                    {% endif %}
                    <div class="flex flex-column flex-row-ns gap3"> <!-- Start new group -->
                    {% assign current_group = field.group %}
                {% endif %}

                <div class="mb3 w-100">
                    <div class="flex flex-row items-center mr2 mb2">
                        <label for="{{ field.name }}" class="db fw6 brand mr2">{{ field.label[page.lang] }}</label>
                        <div class="flex-auto bg-accent bar o-30"></div>
                    </div>
                    {% if field.type == "text" or field.type == "tel" or field.type == "email" %}
                        <input type="{{ field.type }}" id="{{ field.name }}" name="{{ field.name }}" class="input-reset ba b--accent pa2 mb2 db w-100" {% if field.required %}required{% endif %}>
                    {% elsif field.type == "select" %}
                        <select id="{{ field.name }}" name="{{ field.name }}" class="input-reset ba b--accent pa2 mb2 db w-100 bg-white" {% if field.required %}required{% endif %}>
                            {% for option in field.options %}
                                <option value="{{ option.value }}" {% if option.value == "" %}disabled selected{% endif %}>{{ option.text[page.lang] }}</option>
                            {% endfor %}
                        </select>
                    {% elsif field.type == "textarea" %}
                        <textarea id="{{ field.name }}" name="{{ field.name }}" class="input-reset ba b--accent pa2 mb2 db w-100" {% if field.required %}required{% endif %}></textarea>
                    {% endif %}
                </div>
            {% endfor %}
            
            {% if current_group != "" %}
                </div> <!-- Close last group -->
            {% endif %}

            <button type="submit" class="mono br-pill bw0 pa3 dib white link pointer bg-dark-green hover-bg-dark-blue">{{ site.data.contact-form.submit[page.lang] }}</button>
        </form>
    </div>
</section>